$Negro-principal: rgb(38,38,38);

@import "../bootstrap-4.1.2/scss/bootstrap.scss";
//Estilos Generales

h1{
  font-size: 50px;
  color: $Negro-principal;
}
h2{
  font-size: 40px;
  color: $Negro-principal;
}
h3{
  font-size: 35px;
  color: $Negro-principal;
}
h4{
  font-size: 20px;
  color: $Negro-principal;
}
p{
  font-size: 14px;
  color: $Negro-principal;

}
img{
  vertical-align: top;
  max-width: 100%;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(38,38,38,.8);
  z-index: 10;
  top: 0;
  left: 0;
  opacity: .7;
}
//BOTON VOLVER ARRIBA//
.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(38,38,38,.8);
  z-index: 99999999;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 5px;
  margin-right: -100px;
  transition: all .4s ease;
  a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    i{
      font-size: 40px;
      line-height: 40px;
      color: #fff;
    }
  }
}
body{
  font-family:"Roboto", sans-serif;
  margin: 20px;
  @include media-breakpoint-down(sm){
    margin: 0;
  }

  .border-top-white{
    height: 20px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
  }
  .border-bottom-white{
    height: 20px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
  }
}

//SLIDER FADE //
/////////////////////////////////////
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 1.1s;
  transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}
/////////////////////////////////////
// HEADER //
header{
  .navbar{
    //border-bottom: 1px solid rgba(242, 242, 242, 0.27);
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(38,38,38,0.92);
    transition: all 1s ease;
    @include media-breakpoint-down(sm){
      margin: 0;
    }
    .logo{
      img{
        width: 150px;
        transition: all .5s ease;
      }
    }
    &.menu-on-top{
      background: transparent;
      .logo{
        img{
          width: 200px;
        }
      }
    }
    .main-menu{
      ul{
        width: 100%;
        li{
          .nav-link{
            width: 100%;
            color: #fff;
            font-size: 14px;
            padding-left: 10px;
          }
        }
      }
    }
  }
}

//MAIN//
//SLIDER//
.main-slider{
  margin-top: -40px;
  img{
    height: 100vh;
    object-fit: cover;
  }
  .texto-slider{
    position: absolute;
    right: unset;
    bottom: unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    p{
      font-size: 30px;
      font-weight: 200;
      color: #e8e8e8;
      @include media-breakpoint-down(md){
        font-size: 22px;
      }
      @include media-breakpoint-down(sm){
        font-size: 18px;
      }
    }
    h3{
      font-weight: 500;
      font-size: 40px;
      line-height: 37px;
      color: #fff;
      @include media-breakpoint-down(md){
        font-size: 30px;
        line-height: 30px;
      }

    }
  }
}
//TOP-SERVICES//
.services-box{
  text-align: center;
  height: 100%;
  &.black{
    background: rgba(38,38,38,0.92);
    color: #fff;
    h3{
      color: #fff;
    }
  }
  &.white{
    background: #fff;
    color: $Negro-principal;
  }
  &.gray{
    background: #eeeeee;
    color: $Negro-principal;
  }
}
.services-item {
  padding: 90px 40px;
  @include media-breakpoint-down(lg){
    padding: 70px 40px;
  }
  @include media-breakpoint-down(sm){
    padding: 50px 20px;
  }

  .icon {
    font-size: 60px;
    @include media-breakpoint-down(md){
      font-size: 40px;
    }
  }
  h3 {
    margin: 15px 0;
    @include media-breakpoint-down(lg){
      font-size: 25px;
    }
  }
  .descripcion {
    padding: 0 10px;
    &.white{
      color: #fff;
    }
  }

}
//QUIENES SOMOS//

.quienes-somos{
  background: #F9F8FD;
  margin-top: 20px;
  padding-bottom: 20px;
  .foto{
    height: 700px;
  }
  .bg{
    background-repeat:no-repeat;
    height: 100%;
    background-position: center;

    &.tab1{
      background-image: url("../img/persona-bg.jpg");
    }
    &.tab2{
      background-image: url("../img/persona-bg2.jpg");
    }
    &.tab3{
      background-image: url("../img/persona-bg3.jpg");
    }
    &.tab4{
      background-image: url("../img/persona-bg4.jpg");
    }
  }

  .info-quienes-somos{
    padding: 70px 50px;
    h3{
      padding-bottom: 20px;
      @include media-breakpoint-down(md){
        font-size: 30px;
      }
      @include media-breakpoint-down(sm){
        font-size: 25px;
      }
    }
    ul{
      list-style: none;
      padding: 0;
      li{
        width: 25%;
        text-align: center;
        border-radius: 100px;
        a{
          display: block;
          text-decoration: none;
          color: #4a4a4a;
          padding: 10px 0;
          transition: all .3s ease;
          border: 1px solid transparent;
          &.active{
            border: 1px solid #CD5C5C;
            border-radius: 100px;
          }
          &:hover{
            color: #CD5C5C;
            font-weight: 500;
          }
        }
      }
    }
    .progress-bar{
      background: #CD5C5C;
    }
  }
}
//Parallax//
.parallax-section{
  .row{
    padding: 130px 0 120px 0;
    .texto {
      color: #fff;
      z-index: 10;
      font-size: 35px;
      font-weight: 300;
      .small-p{
        color: rgba(255, 255, 255, 0.82);
        font-size: 16px;
      }
      h3{
        font-weight: 300;
        color: #fff;
        @include media-breakpoint-down(md){
          font-size: 30px;
        }
        @include media-breakpoint-down(sm){
          font-size: 25px;
        }
        span{
          color: #e76363;
          font-weight: 400;

        }
      }
    }
  }
}
//OTHER SERVICES//
.other-services{
  background: #F9F8FD;
  margin-top: 20px;
  .header-services{
    padding: 50px 0;
    text-align: right;
    @include media-breakpoint-down(md){
      text-align: center;
    }
    p{
      margin-bottom: 0;
    }
    h3{
      @include media-breakpoint-down(md){
        font-size: 30px;
      }
      @include media-breakpoint-down(sm){
        font-size: 25px;
      }
    }
  }
  .services-container{
    .service-blurb{
      margin-bottom: 50px;
      .title-service{
        margin-bottom: 20px;
        .titulo{
          @include media-breakpoint-down(md){
            order: 2;
            width: 100%;
          }
          h4{
            font-size: 25px;
          }
        }
        .icono{
          @include media-breakpoint-down(md){
            width: 100%;
            margin-bottom: 10px;
            margin-left: 0;
          }
          i{
            font-size: 50px;
            margin-left: 20px;
            color: #A63333;
            @include media-breakpoint-down(md){
              margin-left: 0;
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}
//MODAL//
.modal-portfolio{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 999999999;
  .container-modal{
    max-width: 1000px;
    width: 90%;
    margin: 70px auto;
    border-bottom: 2px solid rgba(156, 156, 156, 0.32);
    padding-bottom: 20px;
    .imagen{
      width: 100%;
      height: 300px;
      background-image: url('../img/portfolio1.jpeg');
      background-position: center;
      background-size: cover;
      margin-bottom: 30px;
    }
    .content-portfolio{
      text-align: center;
      width: 80%;
      margin: 0 auto;
      h3,p{
        color: #d1d0d5;
      }
      .header-portfolio{
        margin-bottom: 30px;
      }
    }
    .btn-cerrar{
      position: fixed;
      top: 30px;
      right: 30px;
      width: 40px;
      height: 40px;
      text-align: center;
      cursor: pointer;
      border-radius: 100%;
      background: rgba(248, 248, 248, 0.3);
      i{
        color: #fff;
        line-height: 40px;
        font-size: 25px;
      }
    }
  }

}
//NUESTROS PROYECTOS//
.portfolio{
  text-align: center;
  .header-portfolio{
    padding: 70px 15px;
    h3{
      @include media-breakpoint-down(md){
        font-size: 35px;
      }
      @include media-breakpoint-down(sm){
        font-size: 30px;
      }
    }
  }
  .proyects{
    .proyect{
      position: relative;
      background-image: url('../img/portfolio1.jpeg');
      background-position: center 50%;
      margin-bottom: 2px;
      transition: all .8s ease;
      &:hover{
        background-position: center 48%;
      }
      .text{
        padding: 40px 0;
        color: #f8f8f8;
        z-index: 20;
       opacity: 0;
        transition: all .4s ease;
        p{
          color: #fff;
        }
        h4{
          color: #fff;
          @include media-breakpoint-up(lg){
            font-size:25px;
          }
        }
        &:hover{
          opacity: 1;
          background: rgba(38,38,38,0.7);
          cursor: pointer;

        }
      }
      &.proyect2{
        background-image: url('../img/portfolio2.jpeg');
      }
      &.proyect3{
        background-image: url('../img/portfolio3.jpeg');
      }
      &.proyect4{
        background-image: url('../img/portfolio4.jpeg');
      }

      .content-portfolio{
        display: none;
      }
    }
  }
}
//CONTACTO//
.contacto{
  margin-bottom: 65px;
  .header-contacto{
    padding: 70px 0;
    text-align: center;
    h3{
      @include media-breakpoint-down(md){
        font-size: 30px;
      }
      @include media-breakpoint-down(sm){
        font-size: 25px;
      }
    }
  }
  form{
    .form-group{
      height: 74px; ;
    }
    input[type="text"],
    input[type="email"]{
      padding: 10px 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      border: none;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #ced4da;
      transition: border .7s ease, padding .5s ease;
      &:focus{
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 10px 10px;
        box-shadow: none;
      }
    }
    textarea{
      display: block;
      width: 100%;
      padding: 10px 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      border: none;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #ced4da;
      transition: border .7s ease, padding .5s ease;
      min-width: 100%;
      max-height: 300px;
      min-height: 100px;
      &:focus{
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 10px 10px;
      }
    }
    button{
      width: 20%;
      margin: 30px 0;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
    }
    .error{
      color: #ff8c8c;
      font-size: 12px;
      margin-bottom: 10px;
      display: none;
    }
  }
}


//FOOTER//
footer{
  background: #262626;
  padding: 40px 0;
  .row{
    padding-bottom: 20px;
  }
  .social-icons{
    display: flex;
    overflow: hidden;
    .social-i{
      display: block;
      width: 50px;
      height: 50px;
      text-decoration: none;
      color: #939393;
      &:hover{
        i{
          margin-top:0;
        }
      }
      i,span{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease;
      }
      i{
        margin-top: -100%;
        &.facebook{
           background: #3b5998;
           color: #fff;
         }
        &.twitter{
          background: #55acee;
          color: #fff;
        }
        &.youtube{
          background: #bb0000;
          color: #fff;
        }
        &.instagram{
          background: #3b5998;
          color: #fff;
        }
      }
    }
  }
  .copyright-container{
    border-top: 1px solid #939393;
  }
  .copyright{
    color: #939393;
    padding-top: 30px;
  }
}
